{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>Give your feedback! </h2>
    {# <p>
        <img src="{{ asset('images/under-construction.gif') }}" alt="logo" width="100" height="100">
    </p> #}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>City</th>
                <th>Year </th>
                <th>is International </th>
                <th>Show </th>
            </tr>
        </thead>
        <tbody>
            {% for conference in conferences %}
            <tr>
                <td>{{ conference.id }}</td>
                <td>{{ conference.city }}</td>
                <td>{{ conference.year }}</td>
                <td>{{ conference.isInternational }}</td>
                <td><a href="{{path('conference_show', { id: conference.id })}}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
